<!-- ng-click="hideBoxMenus($event)"-->
<div ng-controller='MainCtrl' class="design-room" >
    <div ng-include="'components/menu/menu.html'"></div>
    <div fa-app>
<fa-view>
    <fa-modifier ng-repeat="box in boxes"  fa-translate="box.position" fa-size="box.size">
      <fa-draggable fa-pipe-from="box.handler">
        <!-- <fa-modifier fa-rotate="box.menu.rotate"> -->
        <fa-modifier 
              fa-translate="box.menu.transition.get()" fa-opacity="box.menu.opacityTransition">
              <!-- <fa-modifier >  -->
            <fa-surface fa-size="[100, 100]">
              <div style="z-index:1000;">
                <button class="btn btn-default btn-xs"><span class="glyphicon glyphicon-tint"></span></button>
                <button ng-click="rotateBox(box);" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-refresh"></span></button>
                <button ng-click="deleteBox(box);" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-trash"></span></button>
              </div>
            </fa-surface>
          </fa-modifier>
            <fa-surface 
              fa-size="box.size" 
              fa-pipe-to="box.handler">                 
              <div>
              
               <!--  <div ng-style="{'background-color':'red', 'position':'absolute', 'top':'-40px', 'bottom':'-10px', 'left':'-10px', 'right':'-10px'}">               
                </div>  -->
                <div ng-style="{'border':'5px solid ' + box.borderColor, 'background-color':box.color, 'position':'absolute', 'top':'0', 'bottom':'0', 'left':'0', 'right':'0'}" ng-mouseup="showBoxMenu(box.menu.transition, box.menu.opacityTransition, box)" ng-mousedown="boxMenuToggle(true)" ng-mousemove="boxMenuToggle(false)">
                    <!-- ng-mouseenter="box.showOptions=true" -->            
                </div>

              <!-- ng-include="'components/boxmenu/boxmenu.html'" -->
              </div>
            </fa-surface>
        <!-- </fa-modifier> -->
          
      </fa-draggable>   
    </fa-modifier>
  </fa-view>
  </div>
  
 </div>
