<!-- ng-click="hideBoxMenus($event)"-->
<div ng-controller='MainCtrl' class="container-fluid design-room" ng-class="roomStyle" >    
  <div fa-app id="fa-app">
    
    <fa-modifier fa-size="[undefined,undefined]">
      <fa-surface>
        <div ng-include="'components/menu/menu.html'"></div>
      </fa-surface>
    </fa-modifier>
    <fa-view>
      <fa-modifier ng-repeat="box in boxes" fa-translate="box.position.get()" >
        <fa-draggable fa-pipe-from="box.handler">
        <fa-modifier fa-align="box.align">
           <fa-modifier fa-opacity="box.menu.opacityTransition"  fa-size="box.menu.size" fa-origin="box.menu.origin" fa-translate="box.menu.transition.get()">
            <fa-surface fa-size="[undefined, undefined]">
              <div>                
                <button ng-click="rotateBox(box)" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-refresh"></span></button>
                <button ng-click="deleteBox(box)" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-trash"></span></button>
              </div>
            </fa-surface>
          </fa-modifier> 
            <fa-modifier fa-rotate-z="box.menu.rotate.get()" fa-origin="box.origin"  fa-size="box.size">
              <fa-surface 
                fa-pipe-to="box.handler" fa-size="[undefined, undefined]" ng-mousedown="boxMenuToggle(true, $event, box)" ng-mouseup="showBoxMenu(box)" fa-touchstart="boxMenuToggleTouch(true, $event, box)" fa-touchend="showBoxMenu(box)">
                  <!-- Formating the box -->
                  <div ng-style="{'border':'2px solid' + box.borderColor, 'background-color':box.color, 'position':'absolute', 'top':'0', 'bottom':'0', 'left':'0', 'right':'0'}">
                  </div>

     <!--               <div>
                <button ng-click="rotateBox(box)" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-refresh"></span></button>
                <button ng-click="deleteBox(box)" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-trash"></span></button>
              </div>    -->

                <!-- ng-include="'components/boxmenu/boxmenu.html'" -->
              </fa-surface>
          </fa-modifier>  
        </fa-modifier>
        </fa-draggable>         
      </fa-modifier>      
    </fa-view>
    <fa-view>
      <div ng-include="'components/colorpicker/colorpicker.html'"></div>
    </fa-view>
  </div>
 </div>
