<div class="main-menu">
	<!--<h4>Wählen Sie ein Regalelement und Wandlänge</h4>-->
	<div class="row" style="margin-bottom:10px;">
		<div class="col-xs-6">
			<div class="form-inline">
				<div class="form-group boxtypeselect">
					<select ng-options="box.name for box in boxTypes" ng-model="boxTypeToAdd" class="form-control" >		
					<option value="">Regalelement wählen</option>	
					</select>			
					<button ng-click="addBox(boxTypeToAdd)" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-plus"></i></button>
				</div>				
			</div>
		</div>		
		<div class="col-xs-4">
		 	<div class="form-horizontal">
				<div class="form-group">
					<select ng-options="width.widthInMM as width.display for width in referenceWidths" ng-model="selectedReferenceWidth" class="form-control" ng-change="referenceWidthChanged(selectedReferenceWidth)" id="roomLengthSelect">			
					</select> 
				</div>
				<div class="form-group">
					<label for="roomStyleArt"> 
						<input type="radio" ng-model="roomStyle" value="artificial-background" ng-change="setRoomStyle('artificial-background')" id="roomStyleArt" checked> Künstlicher Hintergrund</label>
					<label for="roomStyleReal" style="margin-left:5px;"> 
			  			<input type="radio" ng-model="roomStyle" value="real-background" id="roomStyleReal" ng-change="setRoomStyle('real-background')"> Foto 
			  		</label>
	  			</div>
  			</div>
  		</div>
	</div>
</div>