<div class="main-menu">
	<h4>Wählen Sie ein Regalelement und Wandlänge</h4>
	<p>
		<select ng-options="box.name for box in boxTypes" ng-model="boxTypeToAdd" class="form-control" >		
		<option value="">Regalelement wählen</option>	
		</select>
	</p>
	<p>
		<button ng-click="addBox(boxTypeToAdd)" class="btn btn-sm btn-primary btn-block">Hinzufügen</button>
	</p>
	<p>	
		<select ng-options="width.widthInMM as width.display for width in referenceWidths" ng-model="selectedReferenceWidth" class="form-control" ng-change="referenceWidthChanged(selectedReferenceWidth)">			
		</select>
	</p>
</div>